@using VkInstruments.Core.Utils

@model Type

@foreach (var li in Enum.GetValues(Model).OfType<Enum>())
{
    <div class="editor-radio">
        <input id="@li.ToString()" name="@Model.Name" value="@li.ToString()" type="checkbox" />
        <label for="@li.ToString()">@li.GetDescription()</label>
    </div>
}
