@using System.Globalization
@using VkInstruments.Core.Enums
@using VkInstruments.MVC.Utils

@{
    ViewBag.Title = "Filter";

    var ageRange = Enumerable.Range(1, 100).ToSelectList();
    var dayRange = Enumerable.Range(1, 31).ToSelectList();
    var monthRange = Enumerable.Range(1, 12)
        .ToDictionary(x => x, x => DateTimeFormatInfo.CurrentInfo?.GetMonthName(x))
        .ToSelectList();
}

<script>
    function UpdateCities(countryId) {
        $.post("/Home/CityPartial", { countryId: countryId }, function (data) {
            $("#cities").html(data);
        });
    }
</script>

<h3 class="text-center">Фильтр пользователй</h3>

Введите список пользователей вида
<b class="text-primary">https://vk.com/id123456 </b>
или просто айди 123456, по 1 ссылке на каждую строку

@using (Html.BeginForm("FilterResult", "Home", FormMethod.Post))
{
    @Html.TextArea("userIds", ViewBag.UserIds as string, new { @class = "form-control", @style = "width: 500px" })

    <b>Укажите те настройки, по которым вам нужно отфильтровать список пользователей (все сразу указывать необязательно):</b><br />

    <b>1. Фильтр по полу:</b><br />
    @Html.Partial("EnumRadioButtonList", typeof(Sex))

    <b>2. Фильтр по возрасту:</b><br />
    @Html.Label("AgeFromLabel", "От", new { @for = "AgeFrom" })
    @Html.DropDownList("AgeFrom", ageRange, "Всё равно", new { @class = "form-control" })
    @Html.Label("AgeToLabel", "до", new { @for = "AgeToLabel" })
    @Html.DropDownList("AgeTo", ageRange, "Всё равно", new { @class = "form-control" })

    <b>3. Фильтр по дню рождения:</b><br />
    @Html.DropDownList("BirthDay", dayRange, "Всё равно", new { @class = "form-control" })
    @Html.DropDownList("BirthMonth", monthRange, "Всё равно", new { @class = "form-control" })

    <b>4. Гео-фильтр (по стране, области или городу):</b><br />
    @Html.DropDownList("Country", ViewBag.Countries as SelectList, "Всё равно", new { @class = "form-control", @onchange = "UpdateCities(this.value)" })   
    <div id="cities">@Html.Partial("CityPartial", new Dictionary<long?, string>())</div>

    <b>5. Фильтр по имени:</b><br />
    @Html.TextBox("Query", string.Empty, new { @class = "form-control" })

    <b>6. Семейное положение:</b><br />
    @Html.Partial("EnumRadioButtonList", typeof(Status))

    <br />
    <input id="submitPost" type="submit" class="btn btn-success" value="Начать фильтрацию данных" style="margin-top: 15px ">
}
